body{
    margin-left:2em;
    margin-right:2em;

}
.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 1em;
}
.inicio img{
    width: 50%;
    margin-bottom: 1em;
}
.inicio button{
    margin-bottom: 1em;
}
.scoreImagen{
    display: flex;
    justify-content: space-evenly;
}
a{
    color:white;
    text-decoration: none;
}

.nivel img{
    width:50%;
   
}
.nivel input{
    width: 30%;
    margin-right:1em;
}
.nivel form{
    display: flex;
    align-items: row;
    justify-content: center;
   
}

