*{
    font-family: Poppins, sans-serif;
}


html{
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

/* .modal{
    opacity:100;
    display: none;
} */
body{
    min-width: 100%;
    margin-left:1em;
    margin-right:1em;

}
.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 1em;


}
.inicio img{
    width: 50%;
    margin-bottom: 1em;
}
.inicio button{
  
    border-radius: 300px;
    box-shadow: 0px 5px 10px 0px rgba(19,50,43,0.25);
}
.scoreImagen{
    display: flex;
    justify-content: space-around;
    text-align:center;
}

a{
    color:white;
    text-decoration: none;
}

.nivel img{
    width:20%;
   
}
.nivel input{
    width: 30%;
    margin-right:1em;
}
.nivel form{
    display: flex;
    align-items: row;
    justify-content: center;
   
}

h1{
    font-weight: 700;
    margin-bottom: 3%;
}

.btn{
    color: white;
    font-weight: 600;
}
.formNombre{
    display: flex;
    align-items: center;
    margin:1em;
}

.form-control{
    border: none;
    border-radius: 300px;
    box-shadow: 0px 5px 10px 0px rgba(19,50,43,0.25);
    box-shadow: 15%;
}

#enviar{
    border-radius: 300px;
    box-shadow: 0px 5px 10px 0px rgba(19,50,43,0.25);
    background-color: #36BFB1;
}

.score-box{
    display: flex;
    align-items: center;
    height: 10%;
    justify-content: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 0px rgba(19,50,43,0.25);
}

